.fdsf {
  background-color: rgba(144, 252, 248, 0.8);
  background-color: #00ccc5cc;
  color: rgba(20, 82, 240, 0.8);
  color: rgb(27, 89, 245);
  color: #1452f0;
  color: rgba(51, 51, 51, 0.1);
  color: rgb(255, 135, 197);
  color: rgba(255, 190, 224, 0.8);
  color: rgba(255, 0, 132, 0.8);
  color: #ffbee0;
  color: rgba(255, 255, 255, 0.835);

  /* font-size: 2.rem; */
}

  @media only screen and (max-width: 480px) {
  }